fastkml==0.12
geopandas==0.14.1
matplotlib==3.8.2
cartopy==0.22.0
shapely==2.0.2
folium==0.15.1
gmplot==1.4.0
flask==3.0.2
werkzeug==3.0.1
pandas==2.2.0
numpy==1.26.3
branca==0.7.0
geopy==2.4.1
rtree==1.2.0 